<!---<h2>Events</h2>
<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Description</th>
    <th>Time</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let event of activeEvents">
    <td>{{event.id}}</td>
    <td>{{event.name}}</td>
    <td>{{event.time}}</td>
    <td>
      <button class="btn btn-danger" (click)="deleteEvent(event)">
        <i class="fa fa-trash"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>Event Description</th>
      <th><input placeholder="Doctor's Appointment" [(ngModel)]="eventMessage"></th>
      <th>Time</th>
      <th><input placeholder="12:00 pm" [(ngModel)]="eventTime"></th>
      <th><button class="btn btn-primary" (click)="addNewEvent()">Add</button></th>
    </tr>
    </thead>
</table>
--->
<!---<mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate">
</mwl-demo-utils-calendar-header>

<div class="alert alert-info">
  Click on a day or time slot on the view.
  <strong *ngIf="clickedDate"
    >You clicked on this time: {{ clickedDate | date:'medium' }}</strong
  >
  <strong *ngIf="clickedColumn !== undefined"
    >You clicked on this column: {{ clickedColumn }}</strong
  >
</div>

<ng-template
  #weekViewHourSegmentTemplate
  let-segment="segment"
  let-locale="locale"
  let-segmentHeight="segmentHeight"
  let-isTimeLabel="isTimeLabel"
>
  <div
    #segmentElement
    class="cal-hour-segment"
    [style.height.px]="segmentHeight"
    [class.cal-hour-start]="segment.isStart"
    [class.cal-after-hour-start]="!segment.isStart"
    [ngClass]="segment.cssClass"
    (mousedown)="startDragToCreate(segment, $event, segmentElement)"
  >
    <div class="cal-time" *ngIf="isTimeLabel">
      {{ segment.date | calendarDate:'weekViewHour':locale }}
    </div>
  </div>
</ng-template>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [activeDayIsOpen]="false"
    (columnHeaderClicked)="clickedColumn = $event.isoDayNumber"
    (dayClicked)="clickedDate = $event.day.date"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    (dayHeaderClicked)="clickedDate = $event.day.date"
    (hourSegmentClicked)="clickedDate = $event.date"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
    (hourSegmentClicked)="clickedDate = $event.date"
  >
  </mwl-calendar-day-view>
</div>
--->

<mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate">
</mwl-demo-utils-calendar-header>

<!--<div class="alert alert-info">
  Click on a day or time slot on the view.
  <strong *ngIf="clickedDate"
    >You clicked on this time: {{ clickedDate | date:'medium' }}</strong
  >
  <strong *ngIf="clickedColumn !== undefined"
    >You clicked on this column: {{ clickedColumn }}</strong
  >
</div>-->

<ng-template
  #weekViewHourSegmentTemplate
  let-segment="segment"
  let-locale="locale"
  let-segmentHeight="segmentHeight"
  let-isTimeLabel="isTimeLabel"
>
  <div
    #segmentElement
    class="cal-hour-segment"
    [style.height.px]="segmentHeight"
    [class.cal-hour-start]="segment.isStart"
    [class.cal-after-hour-start]="!segment.isStart"
    [ngClass]="segment.cssClass"
    (mousedown)="startDragToCreate(segment, $event, segmentElement)"
  >
    <div class="cal-time" *ngIf="isTimeLabel">
      {{ segment.date | calendarDate:'weekViewHour':locale }}
    </div>
  </div>
</ng-template>

<ng-template
  #dayViewHourSegmentTemplate
  let-segment="segment"
  let-locale="locale"
  let-segmentHeight="segmentHeight"
  let-isTimeLabel="isTimeLabel"
>
  <div
    #segmentElement
    class="cal-hour-segment"
    [style.height.px]="segmentHeight"
    [class.cal-hour-start]="segment.isStart"
    [class.cal-after-hour-start]="!segment.isStart"
    [ngClass]="segment.cssClass"
    (mousedown)="startDragToCreate(segment, $event, segmentElement)"
  >
    <div class="cal-time" *ngIf="isTimeLabel">
      {{ segment.date | calendarDate:'dayViewHour':locale }}
    </div>
  </div>
</ng-template>

<div class = "views" [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [activeDayIsOpen]="false"
    (columnHeaderClicked)="clickedColumn = $event.isoDayNumber"
    (dayClicked)="viewDate = $event.day.date; showDayView()"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase = "'week'"
    [viewDate]="viewDate"
    [events]="events"
    [hourSegmentTemplate]="weekViewHourSegmentTemplate"
    [weekStartsOn]="weekStartsOn"
    (dayHeaderClicked) = "viewDate = $event.day.date; showDayView()"
  >
  </mwl-calendar-week-view>
  
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
    [hourSegmentTemplate]="dayViewHourSegmentTemplate"
    (hourSegmentClicked)="clickedDate = $event.date"
  >
  </mwl-calendar-day-view>
</div>


<body>
<ng-template #content let-modal  class = "modal">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create New Event</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="Title">Title</label>
        <div class="input-group">
          <input id="Title" class="form-control" name="title"  placeholder={{currEvent.title}} [(ngModel)]="currEvent.title">
        </div>
        <label for="Start Time">Start Time</label>
        <div class="input-group">
          <input type="time" id="Start" class="form-control" name = "start" placeholder={{currEvent.start}} [(ngModel)]="tempStart">
        </div>
        <label for="End Time">End Time</label>
        <div class="input-group">
          <input type="time" id="End" class="form-control" name = "end" placeholder={{currEvent.end}} [(ngModel)]="tempEnd">
        </div>
        <label for="Color">Choose a Color for Event</label><br>
        
        <input type="radio" name = "Colors" value="Red" (click) = "changeColor('Red')">
        <div class = "smallBox" id="Red"></div>
       
        <input type="radio" name = "Colors" value="Orange" (click) = "changeColor('Orange')">
        <div class = "smallBox" id="Orange"></div>

        <input type="radio" name = "Colors" value="Yellow" (click) = "changeColor('Yellow')">
        <div class = "smallBox" id="Yellow"></div>

        <input type="radio" name = "Colors" value="Green" (click) = "changeColor('Green')">
        <div class = "smallBox" id="Green"></div>
        
        <input type="radio" name = "Colors" value="Blue" (click) = "changeColor('Blue')">
        <div class = "smallBox" id="Blue"></div>
        
        <input type="radio" name = "Colors" value="Purple" (click) = "changeColor('Purple')">
        <div class = "smallBox" id="Purple"></div>

        <input type="radio" name = "Colors" value="Grey" (click) = "changeColor('Grey')">
        <div class = "smallBox" id="Grey"></div>

        <input type="radio" name = "Colors" value="Brown" (click) = "changeColor('Brown')">
        <div class = "smallBox" id="Brown"></div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="changeDateTime(); addNewEvent(currEvent); modal.dismiss('Add click') ">Add New Event</button>
  </div>
</ng-template>


<ng-template #edit let-modal  class = "modal">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Event 123123412421515125125</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="Title">Title</label>
        <div class="input-group">
          <input id="Title" class="form-control" name="title"  placeholder={{currEvent.title}} [(ngModel)]="currEvent.title">
        </div>
        <label for="Start Time">Start Time</label>
        <div class="input-group">
          <input type="time" id="Start" class="form-control" name = "start" placeholder={{currEvent.start}} [(ngModel)]="tempStart">
        </div>
        <label for="End Time">End Time</label>
        <div class="input-group">
          <input type="time" id="End" class="form-control" name = "end" placeholder={{currEvent.end}} [(ngModel)]="tempEnd">
        </div>
        <label for="Color">Choose a Color for Event</label><br>
        
        <input type="radio" name = "Colors" value="Red" (click) = "changeColor('Red')">
        <div class = "smallBox" id="Red"></div>
       
        <input type="radio" name = "Colors" value="Orange" (click) = "changeColor('Orange')">
        <div class = "smallBox" id="Orange"></div>

        <input type="radio" name = "Colors" value="Yellow" (click) = "changeColor('Yellow')">
        <div class = "smallBox" id="Yellow"></div>

        <input type="radio" name = "Colors" value="Green" (click) = "changeColor('Green')">
        <div class = "smallBox" id="Green"></div>
        
        <input type="radio" name = "Colors" value="Blue" (click) = "changeColor('Blue')">
        <div class = "smallBox" id="Blue"></div>
        
        <input type="radio" name = "Colors" value="Purple" (click) = "changeColor('Purple')">
        <div class = "smallBox" id="Purple"></div>

        <input type="radio" name = "Colors" value="Grey" (click) = "changeColor('Grey')">
        <div class = "smallBox" id="Grey"></div>

        <input type="radio" name = "Colors" value="Brown" (click) = "changeColor('Brown')">
        <div class = "smallBox" id="Brown"></div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="changeDateTime(); updateEvent(currEvent); modal.dismiss('Add click') ">Add New Event</button>
  </div>
</ng-template>


</body>


<!---<button class="btn btn-lg btn-outline-primary" 
  (click)="open(content)">
  Popup using Angular and Bootstrap
</button>
<mwl-calendar-week-view
  [viewDate]="viewDate"
  [events]="events"
  [hourSegmentTemplate]="weekViewHourSegmentTemplate"
  [weekStartsOn]="weekStartsOn"
>
</mwl-calendar-week-view>--->


